.overlay {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
}

img {
  max-width: 700px;
  max-height: 700px;
}

.modal {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlayVisible {
  display: block;
}
